body{
	font-size: 17px;
	margin: 0;
	padding: 0;
}
header{
	margin-left: 5%;
}
header>p{
	padding-left: 2%;
	border-bottom: 1px solid black;
	width: 20%;
}
section>h3{
	margin-left: 45%;
}
.products{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin: 1%;
	margin-bottom: 5%;
}
.product{
	margin-left: 5%;
	padding: 5%;
	border: 2px solid black;
}
.delete, .add, .home{
	border: 1px solid black;
	padding: 4%;
	font-size: 18px;
	color: red;
	text-decoration: none;
	border-radius: 4px;
}
.add, .home{
	padding: 1%;
	color: green;
	margin-left: 1%;
}
.delete:hover, .add:hover, .home:hover{
	background-color: grey;
	color: white;
}
.form{
	font-size: 20px;
	margin-left: 40%;
	margin-top: 5%;
}