{% extends 'base_template.html' %}
{% block content %}
	<form method="post" enctype="multipart/form-data" class="form">
		{{form.hidden_tag()}}
		<p>{{ form.title.label() }}</p>
		<p>{{ form.title() }}</p>
		<p>{{ form.category.label() }}</p>
		<p>{{ form.category() }}</p>
		<p>{{ form.price.label() }}</p>
		<p>{{ form.price() }}</p>
		<p>{{ form.image() }}</p>
		<p>{{ form.submit() }}</p>
	</form>
	<a href="/" class="home">На главную</a>

{% endblock %}