<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<title>Магазин косметики</title>
</head>
<body>
	<header>
		<h3>Магазин косметики онлайн</h3>
	</header>
	<section>
		{% block content %}

		{% endblock %}
	</section>
</body>
</html>