{% extends 'base_template.html' %}
{% block content %}
	<h3>Товары в наличии</h3><hr>
	<div class="products">
		{% for product in products %}
		<div class="product">
			<img src="{{ url_for('get_image', pk=product.id) }}" alt="Изображение отсутсвует" width="70%">
			<p>Название: {{ product.title }}</p><hr>
			<p>Категория: {{ product.category }}</p>
			<p>Цена: {{ product.price }}р</p>
			<p><a href="/del/{{ product.id }}" class="delete">Удалить товар</a></p>
		</div>
		{% endfor %}
	</div>
	<a href="/add" class="add">Добавить товар</a>
{% endblock %}